<div class="articles">
    <a href="post.html">
        <article class="article style-block">
            <div class="article__image">
                <img class="article__img" src="img/img-home.png" alt="">
            </div>
            <div class="article__info">
                <div class="article__text">
                    <h2 class="article__title">
                        Full set of iOS 16 interface elements for working in Figma
                    </h2>
                </div>
                <ul class="article__tags tags">
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #figma
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #ui
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #mobile
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #ios
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #apple 
                        </span>
                    </li>
                </ul>
                <div class="publication__shor-info article__short-info">
                    <div class="publication__user">
                        <span class="publication__user_href" href="">
                            <img class="publication__user_img" src="img/user_image.png" alt="">
                            <div class="publication__user_name">
                                Xperience
                            </div>
                        </span>
                    </div>
                    <date class="publication__date">
                        Published July 02, 2022
                    </date>
                </div>
            </div>
        </article>
    </a>
    

    <a href="post.html">
        <article class="article style-block">
            <div class="article__info">
                <div class="article__text">
                    <h2 class="article__title">
                        How personal blogs work, connecting external sources, transferring your blog, article series
                    </h2>
                </div>
                <ul class="article__tags tags">
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #figma
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #ui
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #mobile
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #ios
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #apple 
                        </span>
                    </li>
                </ul>
                <div class="publication__shor-info article__short-info">
                    <div class="publication__user">
                        <span class="publication__user_href" href="">
                            <img class="publication__user_img" src="img/user_image.png" alt="">
                            <div class="publication__user_name">
                                Xperience
                            </div>
                        </span>
                    </div>
                    <date class="publication__date">
                        Published July 02, 2022
                    </date>
                </div>
            </div>
        </article>
    </a>

    <a href="post_second.html">
        <article class="article style-block">
            <div class="article__info">
                <div class="article__text">
                    <h2 class="article__title">
                        How personal blogs work, connecting external sources, transferring your blog, article series
                    </h2>
                    <div class="article__subtitle">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </div>
                </div>
                <ul class="article__tags tags">
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #figma
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #ui
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #mobile
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #ios
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #apple 
                        </span>
                    </li>
                </ul>
                <div class="publication__shor-info article__short-info">
                    <div class="publication__user">
                        <span class="publication__user_href" href="">
                            <img class="publication__user_img" src="img/user_image.png" alt="">
                            <div class="publication__user_name">
                                Xperience
                            </div>
                        </span>
                    </div>
                    <date class="publication__date">
                        Published July 02, 2022
                    </date>
                </div>
            </div>
        </article>
    </a>

    <a href="post_second.html">
        <article class="article style-block">
            <div class="article__image">
                <img class="article__img" src="img/img-blog.png" alt="">
            </div>
            <div class="article__info">
                <div class="article__text">
                    <h2 class="article__title">
                        The Art of Product Management. The Importance of Soft Skills
                    </h2>
                    <div class="article__subtitle">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </div>
                </div>
                <ul class="article__tags tags">
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #figma
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #ui
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #mobile
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #ios
                        </span>
                    </li>
                    <li class="article__tag tag">
                        <span class="article__tag_link tag__link" href="">
                            #apple 
                        </span>
                    </li>
                </ul>
                <div class="publication__shor-info article__short-info">
                    <div class="publication__user">
                        <span class="publication__user_href" href="">
                            <img class="publication__user_img" src="img/user_image.png" alt="">
                            <div class="publication__user_name">
                                Xperience
                            </div>
                        </span>
                    </div>
                    <date class="publication__date">
                        Published July 02, 2022
                    </date>
                </div>
            </div>
        </article>
    </a>
</div>