<div class="articles">
    <article class="article style-block">
        <div class="article__image">
            <img class="article__img" src="img/img-home.png" alt="">
        </div>
        <div class="article__info">
            <div class="article__text">
                <div class="article__title">
                    Full set of iOS 16 interface elements for working in Figma
                </div>
            </div>
            <ul class="article__tags">
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #figma
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #ui
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #mobile
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #ios
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #apple 
                    </a>
                </li>
            </ul>
            <div class="article__bottom">
                <div class="article__user">
                    <a class="article__user_href" href="">
                        <img class="article__user_img" src="img/user_image.png" alt="">
                        <div class="article__user_name">
                            Xperience
                        </div>
                    </a>
                </div>
                <date class="article__date">
                    Published July 02, 2022
                </date>
            </div>
        </div>
    </article>

    <article class="article style-block">
        <div class="article__info">
            <div class="article__text">
                <div class="article__title">
                    How personal blogs work, connecting external sources, transferring your blog, article series
                </div>
            </div>
            <ul class="article__tags">
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #figma
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #ui
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #mobile
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #ios
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #apple 
                    </a>
                </li>
            </ul>
            <div class="article__bottom">
                <div class="article__user">
                    <a class="article__user_href" href="">
                        <img class="article__user_img" src="img/user_image.png" alt="">
                        <div class="article__user_name">
                            Xperience
                        </div>
                    </a>
                </div>
                <date class="article__date">
                    Published July 02, 2022
                </date>
            </div>
        </div>
    </article>

    <article class="article style-block">
        <div class="article__info">
            <div class="article__text">
                <div class="article__title">
                    How personal blogs work, connecting external sources, transferring your blog, article series
                </div>
                <div class="article__subtitle">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </div>
            </div>
            <ul class="article__tags">
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #figma
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #ui
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #mobile
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #ios
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #apple 
                    </a>
                </li>
            </ul>
            <div class="article__bottom">
                <div class="article__user">
                    <a class="article__user_href" href="">
                        <img class="article__user_img" src="img/user_image.png" alt="">
                        <div class="article__user_name">
                            Xperience
                        </div>
                    </a>
                </div>
                <date class="article__date">
                    Published July 02, 2022
                </date>
            </div>
        </div>
    </article>

    <article class="article style-block">
        <div class="article__image">
            <img class="article__img" src="img/img-blog.png" alt="">
        </div>
        <div class="article__info">
            <div class="article__text">
                <div class="article__title">
                    The Art of Product Management. The Importance of Soft Skills
                </div>
                <div class="article__subtitle">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </div>
            </div>
            <ul class="article__tags">
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #figma
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #ui
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #mobile
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #ios
                    </a>
                </li>
                <li class="article__tag">
                    <a class="article__tag_link" href="">
                        #apple 
                    </a>
                </li>
            </ul>
            <div class="article__bottom">
                <div class="article__user">
                    <a class="article__user_href" href="">
                        <img class="article__user_img" src="img/user_image.png" alt="">
                        <div class="article__user_name">
                            Xperience
                        </div>
                    </a>
                </div>
                <date class="article__date">
                    Published July 02, 2022
                </date>
            </div>
        </div>
    </article>
</div>