<div class="banner style-block">
    <div class="banner__inner">
        <div class="banner__title">
            Useful newsletter
        </div>
        <ul class="banner__list list__ul">
            <li class="list__item">
                Two letters a month
            </li>
            <li class="list__item">
                We do not share your personal information
            </li>
        </ul>
        <form class="banner__form" action="">
            <input class="banner__input input" type="text" placeholder="Enter your e-mail">
            <button class="banner__button button " disabled>
                Subscribe
            </button>
        </form>
    </div>
</div>