<div class="comments style-block">
    <div class="comments__top">
        <div class="comments__top_content">
            <div class="comment__top_image">
                <img class="comment__top_img" src="img/user_image.png" alt="">
            </div>
            <div class="comment__top_text">
                <div class="comment__top_name">
                    Xperience
                </div>
                <div class="comment__top_answer">
                    Lorem ipsum dolor sit amet, no omnes mollis per. Eos id sanctus mandamus. Usu option scriptorem no, nonumes noluisse temporibus ius te, ut elit prima signiferumque his?
                </div>
            </div>
        </div>
        <form class="comments__top_form" action="">
            <textarea class="comments__top_textarea input" placeholder="Your answer"></textarea>
            <button class="comments__top_button button" disabled>
                Reply
            </button>
        </form>
    </div>
    <div class="comments__bottom">
        <div class="comments__count">
            5 Answers
        </div>
        <ul class="comments__aswer">
            <li class="comment__answer comment-user">
                <div class="comment-user__image">
                    <img class="comment-user__img" src="img/img-comment.png" alt="">
                </div>
                <div class="comment-user__text">
                    <div class="comment-user__text_short-info">
                        <div class="comment-user__name">
                            Xperience
                        </div>
                        <date class="comment-user__date">July 02, 2022</date>
                    </div>
                    <div class="comment-user__message">
                        Nulla aliquam per te, vis omnes lobortis ocurreret an. Ex per omnis feugait, vim eu voluptaria elaboraret. Ea ipsum constituto instructior est, cibo iriure facilisis ut per. Et posse equidem aliquando eos, nobis lobortis definitionem eos an.
                    </div>
                    <button class="comment-user__reply">
                        Reply
                    </button>
                </div>
            </li>

            <li class="comment__answer comment-user">
                <div class="comment-user__image">
                    <img class="comment-user__img" src="img/img-comment.png" alt="">
                </div>
                <div class="comment-user__text">
                    <div class="comment-user__text_short-info">
                        <div class="comment-user__name">
                            Xperience
                        </div>
                        <date class="comment-user__date">July 02, 2022</date>
                    </div>
                    <div class="comment-user__message">
                        Nulla aliquam per te, vis omnes lobortis ocurreret an. Ex per omnis feugait, vim eu voluptaria elaboraret. Ea ipsum constituto instructior est, cibo iriure facilisis ut per. Et posse equidem aliquando eos, nobis lobortis definitionem eos an.
                    </div>
                    <button class="comment-user__reply">
                        Reply
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>