<div class="modal">
    <div class="modal__content style-block">
        <div class="modal__close">
            <svg class="modal__close_svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 6L6 18" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6 6L18 18" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                                                              
        </div>
        <div class="modal__title">
            Log in to submit your reply
        </div>
        <ul class="modal__socials">
            <li class="modal__social">
                <a class="modal__link" href="">
                    <img class="modal__link_img" src="img/Google.svg" alt="">
                    <div class="modal__link_text">
                        Log in with Google
                    </div>
                </a>
            </li>
            <li class="modal__social">
                <a class="modal__link" href="">
                    <img class="modal__link_img" src="img/Facebook.svg" alt="">
                    <div class="modal__link_text">
                        Log in with Facebook
                    </div>
                </a>
            </li>
            <li class="modal__social">
                <a class="modal__link" href="">
                    <img class="modal__link_img" src="img/Twitter.svg" alt="">
                    <div class="modal__link_text">
                        Log in with Twitter
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>