<div class="pagination">
    <a class="pagination__arrow" href="#">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="stroke" d="M15.8332 9.99984H4.1665M4.1665 9.99984L9.99984 15.8332M4.1665 9.99984L9.99984 4.1665"
                stroke="#475467" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Previous</span>
    </a>
    <ul class="pagination__list">
        <li class="pagination__item ">
            <a class="pagination__link active" href="">1</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="">2</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="">3</a>
        </li>
        <li class="pagination__item">
            <span class="">...</span>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="">8</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="">9</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="">10</a>
        </li>
    </ul>
    <a class="pagination__arrow" href="#">
        <span>Next</span>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="stroke" d="M4.1665 9.99984H15.8332M15.8332 9.99984L9.99984 4.1665M15.8332 9.99984L9.99984 15.8332"
                stroke="#475467" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </a>
</div>