<div class="recommendations">
    <div class="recommendation style-block">
        <h3 class="recommendation__title">
            <a class="recommendation__title_href" href="">
                #travel
            </a>
        </h3>
        <ul class="recommendation__list">
            <li class="recommendation__list_item">
                Collaboration of designers with current materials
            </li>
            <li class="recommendation__list_item">
                Do I need a QR code on my mobile app's front page?
            </li>
            <li class="recommendation__list_item">
                Spline - a modern tool for creating 3D with friends
            </li>
            <li class="recommendation__list_item">
                About navigation in interfaces and games
            </li>
            <li class="recommendation__list_item">
                The Influence of Age on Type Perception, a Study
            </li>
        </ul>
    </div>

    <div class="recommendation style-block">
        <h3 class="recommendation__title">
            <a class="recommendation__title_href" href="">
                #tools
            </a>
        </h3>
        <ul class="recommendation__list">
            <li class="recommendation__list_item">
                Collaboration of designers with current materials
            </li>
            <li class="recommendation__list_item">
                Do I need a QR code on my mobile app's front page?
            </li>
            <li class="recommendation__list_item">
                Spline - a modern tool for creating 3D with friends
            </li>
            <li class="recommendation__list_item">
                About navigation in interfaces and games
            </li>
            <li class="recommendation__list_item">
                The Influence of Age on Type Perception, a Study
            </li>
        </ul>
    </div>

    <div class="recommendation style-block">
        <h3 class="recommendation__title">
            <a class="recommendation__title_href" href="">
                #lifestyle
            </a>
        </h3>
        <ul class="recommendation__list">
            <li class="recommendation__list_item">
                Collaboration of designers with current materials
            </li>
            <li class="recommendation__list_item">
                Do I need a QR code on my mobile app's front page?
            </li>
            <li class="recommendation__list_item">
                Spline - a modern tool for creating 3D with friends
            </li>
            <li class="recommendation__list_item">
                About navigation in interfaces and games
            </li>
            <li class="recommendation__list_item">
                The Influence of Age on Type Perception, a Study
            </li>
        </ul>
    </div> 
</div>