.articles {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .article {
        .article__image {
            margin-bottom: -11px;

            .article__img {
                border-radius: 8px 8px 0px 0px;
    
                width: 100%;
            }
        }
    
        .article__info {
            padding: 28px;

            .article__text {
                display: flex;
                flex-direction: column;
                row-gap: 8px;

                margin-top: 8px;
                margin-bottom: 23px;

                .article__title {
                    font-size: 24px;
                    font-weight: 500;
    
                    line-height: 155%;
                }
    
                .article__subtitle {
                    color: #505050;
    
                    font-size: 18px;
    
                    line-height: 150%;
                }
            }
        }
    }
}