.aside-short {
    min-width: 95px;

    .aside-short__inner {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        position: fixed;

        max-width: 100%;
        width: 95px;

        z-index: 1000;

        .aside-short__item {
            cursor: pointer;
    
            transition: 200ms;

            position: relative;
    
            width: 100%;
            height: 88px;

            z-index: 10;

            .aside-short__item_icon {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                row-gap: 12px;

                width: 100%;
                height: 100%;

                .aside-short__svg {
                    path {
                        transition: 200ms;
                    }
                }
        
                .aside-short__text {
                    color: #898989;
        
                    font-size: 14px;
        
                    line-height: 20px;
                }
            }
    
            &:hover {
                .aside-short__svg {
                    path {
                        stroke: #7421B0;
                    }
                }
    
                .aside-short__text {
                    color: #000000;
                }

                .aside-short__menu {
                    .aside-short__list {
                        display: block;
                    }
                }
            }

            .aside-short__menu {
                position: absolute;
                top: 0;
                left: 96px;
    
                padding-left: 16px;

                .aside-short__list {
                    display: none;

                    transition: 200ms;

                    padding: 4px;
    
                    .aside-short__list_item {
                        .aside-short__list_href {
                            border-radius: 8px;
    
                            color: #000000;
    
                            display: inline-block;
    
                            font-size: 14px;
    
                            line-height: 20px;
    
                            transition: 200ms;
    
                            padding: 8px;
    
                            width: 144px;
                            height: 36px;
    
                            &:hover {
                                background: #E4D8ED;
    
                                color: #7421B0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .aside-short {
        min-width: auto;

        .aside-short__inner {
            box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.07);

            display: flex;
            flex-direction: row;
    
            position: fixed;
    
            max-width: 100%;
            width: 100%;
            left: 0;
            bottom: 0;

            z-index: 1000;
    
            .aside-short__item {
                border-radius: 0;

                height: 60px;

                .aside-short__menu {
                    .aside-short__list {
                        .aside-short__list_item {
                            .aside-short__list_href {
                                width: 100%;
                            }
                        }
                    }
                }


                .aside-short__item_icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    column-gap: 12px;
    
                    .aside-short__svg {
                        path {
                            transition: 200ms;
                        }
                    }
            
                    .aside-short__text {
                        color: #898989;
            
                        font-size: 14px;
            
                        line-height: 20px;
                    }
                }
        
                &:hover {
                    .aside-short__svg {
                        path {
                            stroke: #7421B0;
                        }
                    }
        
                    .aside-short__text {
                        color: #000000;
                    }
    
                    .aside-short__menu {
                        .aside-short__list {
                            display: block;

                            width: 95vw;
                        }
                    }
                }
    
                .aside-short__menu {
                    position: absolute;
                    top: -265%;
                    left: -95%;

                    padding-left: 0;
    
                    .aside-short__list {
                        display: none;
    
                        transition: 200ms;
    
                        padding: 4px;
                    }
                }
            }
        }
    }
}