.comments {
    padding: 44px 20px 32px;

    .comments__top {
        margin-bottom: 8px;

        .comments__top_content {
            display: flex;
            column-gap: 12px;
            margin-bottom: 46px;
            
            .comment__top_image {
                .comment__top_img {
                    border-radius: 50%;

                    width: 70px;
                    height: 70px;
                }
            }

            .comment__top_text {
                display: flex;
                flex-direction: column;
                row-gap: 8px;

                .comment__top_name {
                    color: #000000;

                    font-weight: 500;

                    line-height: 20px;
                }

                .comment__top_answer {
                    font-size: 18px;

                    line-height: 150%;
                }
            }
        }

        .comments__top_form {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 12px;

            .comments__top_textarea {
                height: 100px;

                &::placeholder {
                    color: #19191D;
                }
            }

            .comments__top_button {

            }
        }
    }

    .comments__bottom {
        .comments__count {
            color: #898989;

            font-size: 14px;

            line-height: 150%;

            margin-bottom: 28px;
        }

        .comments__aswer {
            display: flex;
            flex-direction: column;

            .comments__aswer {
                margin-left: 40px;
                padding-left: 18px;

                position: relative;

                &:hover {
                    .comment-user__image {
                        &::before {
                            border-left: 1px solid #7421B0;
                            border-bottom: 1px solid #7421B0;
                        }
                    }
                }

                .comment__answer {
                    &:first-child {
                        margin-top: 32px;
                    }

                    .comment-user__image {
                        position: relative;
    
                        &::before {
                            // background: #CECECE;
                            border-radius: 0 0 0 3px;
                            border-left: 1px solid #CECECE;
                            border-bottom: 1px solid #CECECE;
    
                            content: "";
    
                            position: absolute;
                            top: -26px;
                            left: -18px;
    
                            width: 11px;
                            height: 42px;
                        }
                    }
                }
            }

            .comment__answer {
                display: flex;
                column-gap: 8px;

                margin-top: 32px;

                
                &:first-child {
                    margin-top: 0;
                }

                .comment-user__image {
                    .comment-user__img {
                        border-radius: 50%;

                        width: 32px;
                        height: 32px;
                    }
                }

                .comment-user__text {
                    font-size: 14px;

                    .comment-user__text_short-info {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .comment-user__name {
                            color: #000000;

                            font-weight: 500;

                            line-height: 20px;
                        }

                        .comment-user__date {
                            color: #898989;

                            font-size: 12px;

                            line-height: 20px;
                        }
                    }

                    .comment-user__message {
                        color: #000000;

                        line-height: 150%;

                        margin-top: 4px;
                        margin-bottom: 6px;
                    }

                    .comment-user__reply {
                        color: #898989;

                        transition: 200ms;

                        font-size: 14px;

                        &:hover {
                            color: #000000;
                        }
                    }

                    .comments-user__answer {
                        position: relative;

                        display: none;

                        margin-top: 20px;
                        margin-left: 18px;

                        &::before {
                            border-radius: 0 0 0 3px;
                            border-left: 1px solid #cecece;
                            border-bottom: 1px solid #cecece;
                            
                            content: "";

                            position: absolute;
                            top: -16px;
                            left: -18px;

                            width: 11px;
                            height: 42px;
                        }
                        
                        .comments__textarea {
                            height: 107px;

                        }

                        .commtents__buttons {
                            display: flex;
                            align-items: stretch;
                            column-gap: 16px;

                            position: absolute;

                            right: 20px;
                            bottom: 20px;

                            .comments__button_cancel {
                                color: #898989;

                                transition: 200ms;

                                &:hover {
                                    color: #000000;
                                }
                            }

                            .comments__button_replay {
                                height: 36px;
                                width: 85px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .comments {
        padding: 24px 16px 32px;
    
        .comments__top {
            margin-bottom: 32px;
    
            .comments__top_content {
                display: flex;
                column-gap: 12px;
                margin-bottom: 46px;
                
                .comment__top_image {
                    .comment__top_img {
                        border-radius: 50%;
    
                        width: 70px;
                        height: 70px;
                    }
                }
    
                .comment__top_text {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
    
                    .comment__top_answer {
                        font-size: 18px;
    
                        line-height: 150%;
                    }
                }
            }
    
            .comments__top_form {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                row-gap: 12px;
    
                .comments__top_textarea {
                    height: 100px;
    
                    &::placeholder {
                        color: #19191D;
                    }
                }
    
                .comments__top_button {
                    width: 100%;
                }
            }
        }
    
        .comments__bottom {
            .comments__count {
                color: #898989;
    
                font-size: 14px;
    
                line-height: 150%;
    
                margin-bottom: 28px;
            }
    
            .comments__aswer {
                .comments__aswer {
                    margin-left: 0;
                }

                .comment__answer {
                    display: flex;
                    column-gap: 8px;
    
                    .comment-user__image {
                        .comment-user__img {
                            border-radius: 50%;
    
                            width: 32px;
                            height: 32px;
                        }
                    }
    
                    .comment-user__text {
                        font-size: 14px;
    
                        .comment-user__text_short-info {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
    
                            .comment-user__name {
                                font-weight: 500;
    
                                line-height: 20px;
                            }
    
                            .comment-user__date {
                                color: #898989;
    
                                font-size: 12px;
    
                                line-height: 20px;
                            }
                        }
    
                        .comment-user__reply {
                            color: #898989;
    
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}