@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), local('Rubik-Regular'), url('../fonts/Rubik.woff2') format('woff2'), url('../fonts/Rubik.woff') format('woff'), url('../fonts/Rubik.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik Italic'), local('Rubik-Italic'), url('../fonts/Rubikitalic.woff2') format('woff2'), url('../fonts/Rubikitalic.woff') format('woff'), url('../fonts/Rubikitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik Medium'), local('Rubik-Medium'), url('../fonts/Rubikmedium.woff2') format('woff2'), url('../Rubikmedium.woff') format('woff'), url('../Rubikmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik SemiBold'), local('Rubik-SemiBold'), url('../fonts/Rubik-SemiBold.woff2') format('woff2'), url('../Rubik-SemiBold.woff') format('woff'), url('../Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Bold'), local('Rubik-Bold'), url('../fonts/Rubik-Bold.woff2') format('woff2'), url('../Rubik-Bold.woff') format('woff'), url('../Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}