.modal {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: -150%;
    left: 0;

    transition: 1000ms;

    width: 100%;
    height: 100%;

    z-index: 1000;

    .modal__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 48px 73px 40px;

        position: relative;

        width: 511px;
        height: 352px;

        .modal__close {
            cursor: pointer;

            position: absolute;
            top: 10px;
            right: 10px;
        }

        .modal__title {
            font-size: 24px;
            font-weight: 500;

            line-height: 20px;

            text-align: center;
        }

        .modal__socials {
            display: flex;
            flex-direction: column;
            row-gap: 24px;

            .modal__social {
                .modal__link {
                    border: 1px solid #E5EAF0;
                    border-radius: 6px;

                    display: flex;
                    align-items: center;

                    transition: 200ms;

                    position: relative;

                    height: 48px;

                    .modal__link_img {
                        position: absolute;
                        left: 19px;
                    }

                    .modal__link_text {
                        color: #000000;
                        
                        font-size: 16px;
    
                        line-height: 20px;
                        
                        text-align: center;

                        transition: 200ms;
    
                        flex: 1 1 100%;

                        margin-left: 12px;
                    }

                    &:hover {
                        background: #E4D8ED;

                        .modal__link_text {
                            color: #7421B0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .modal {
        .modal__content {
            padding: 38px 28px;

            width: 328px;
            height: 368px;
    
            .modal__close {
            }
    
            .modal__title {
                line-height: 140%;

            }
    
            .modal__socials {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
    
                .modal__social {
                    .modal__link {
                        border: 1px solid #E5EAF0;
                        border-radius: 6px;
    
                        display: flex;
                        align-items: center;
    
                        transition: 200ms;
    
                        position: relative;
    
                        height: 48px;
    
                        .modal__link_img {
                            position: absolute;
                            left: 19px;
                        }
    
                        .modal__link_text {
                            color: #000000;
                            
                            font-size: 16px;
        
                            line-height: 20px;
                            
                            text-align: center;
    
                            transition: 200ms;
        
                            flex: 1 1 100%;
    
                            margin-left: 12px;
                        }
    
                        &:hover {
                            background: #E4D8ED;
    
                            .modal__link_text {
                                color: #7421B0;
                            }
                        }
                    }
                }
            }
        }
    }
}