.search-page__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px ;
}

.post {
    .post__main-image {
        .post__main-img {
            width: 100%;
        }
    }

    .post__content {
        padding: 0 40px 60px;

        .post__short-info {
            .post__user {
                .post__user_href {
                    .post__user_img {
                        width: 44px;
                        height: 44px;
                    }

                    .post__user_name {
                        color: #000000;

                        font-weight: 500;
                    }
                }
            }
        }

        .post__title {
            font-size: 28px;
            font-weight: 500;
            
            line-height: 150%;
    
            margin-top: 20px;
        }

        .post__p {
            font-size: 18px;

            line-height: 150%;

            margin-top: 32px;
        }

        .post__italc-grey {
            @extend .post__p;

            color: #898989;

            font-style: italic;

            margin-top: 20px;
        }

        .post__image {
            margin-top: 32px;

            .post__img {
                border-radius: 8px;

                width: 100%;
            }
            
            .post__image_name {
                color: #898989;

                font-size: 12px;

                line-height: 20px;

                margin-top: 12px;
            }
        }

        .post__list_ol {
            margin-top: 12px;
        }
    }
}