@import './reset';
@import './fonts';
@import './UI';
@import './aside';
@import './recommendations';
@import './articles';
@import './search';
@import './post';
@import './aside-short';
@import './comments';
@import './banner';
@import './modal';
@import './animations';
@import './header-fixed';

.wrapper {
    background: #ECECF0;

    font-family: 'Rubik';

    color: #000000;
}



.container {
    padding: 40px;
}




.page {
    display: flex;
    column-gap: 20px;

    .content {
        flex: 1 1 auto;
        max-width: 900px;
    }
}




@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}