@import './reset';
@import './fonts';
@import './UI';
@import './aside';
@import './articles';
@import './search';
@import './post';
@import './banner';
@import './modal';
@import './animations';
@import './banner-subscribed';
@import './header';

.wrapper {
    background: #ECECF0;
    color: #000000;

    font-family: 'Rubik';

    min-height: 100vh;
}



.page {
    display: flex;
    column-gap: 20px;

    .content {
        flex: 1 1 auto;

        margin-left: 20px;

        max-width: 900px;
        width: 100%;
    }
}




@media (max-width: 1024px) {
    .page {
        display: block;

        .content {
            margin-left: 0;

            max-width: 100%;
        }
    }
}